<%- include('../Layout/include/head.ejs')%>

    <link rel="stylesheet" href="/css/shop.css">
    </head>

    <body>
        <%- include('../Layout/include/navaction.ejs')%>
            <article class="product-item" style="text-align: center;">
                <header class="paoduct-title">
                    <h1>
                        <%=product.title%>
                    </h1>
                </header>
                <hr />
                <div class="card-image ">
                    <img src="<%=product.imageUrl%>" alt="" style="width:300px">
                </div>
                <div class="card-content">
                    <h2 class="product-price">$<%=product.price%>
                    </h2>
                    <p class="product-description">
                        <%=product.description%>
                    </p>
                </div>
            </article>
            <%- include('../Layout/include/end.ejs')%>