<%- include('../Layout/include/head.ejs')%>

    <link rel="stylesheet" href="/css/shop.css">
    </head>

    <body>
        <%- include('../Layout/include/navaction.ejs')%>

            <main>
                <% if(hasProduct){%>
                    <div class="grid">
                        <% for(let product of products ){%>
                            <article class="product-item  card">
                                <header class="paoduct-title">
                                    <h1>
                                        <%=product.title%>
                                    </h1>
                                </header>
                                <div class="card-image ">
                                    <img src="<%=product.image%>" alt="">
                                </div>
                                <div class="card-content">
                                    <h2 class="product-price">$<%=product.price%>
                                    </h2>
                                    <p class="product-description">
                                        <%=product.description%>
                                    </p>
                                    <div class="card-actions">
                                        <a href="/admin/edit_product?id=<%=product.id%>" class="">编辑产品</a>
                                        <form method="post" action="/admin/api/del_product">
                                            <input value="<%=product.id%>" name="id" style="display: none;" />
                                            <button type="submit">删除产品</button>
                                        </form>
                                    </div>
                                </div>
                            </article>
                            <%}%>
                    </div>
                    <% } else{%>
                        <h1>暂时没有数据哦~</h1>
                        <%}%>
            </main>
            <%- include('../Layout/include/end.ejs')%>